<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kutuphane_Sistemi.Properties.Settings.kutuphaneConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=kutuphane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kutuphane_Sistemi.Properties.Settings.kutuphaneConnectionString1"
            connectionString="Data Source=.;Initial Catalog=kutuphane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>